.image_overlay {
    position: relative;
    width: 800px;
    max-width: 95%;
    margin: 100px auto 40px;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.overlay_text {
    position: absolute;
    top: 100px;
    right: 25px;
    width: 500px;
    background: rgba(11, 131, 47, 0.65);
    color: black;
    padding: 20px 25px;
    border-radius: 12px;
    font-family: Arial, sans-serif;
}

h1 {
    font-weight: bold;
    font-size: 64px;
}

ul li {
    font-size: 24px;
    margin-bottom: 12px;
}