.black_whit_text {
    margin-top: 70px;
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    background: rgb(255, 174, 0);
    width: 75%;
    border-radius: 15px;
    padding-left: 20px;
    padding-bottom: 1px;
    padding-top: 1px;
}