img {
    padding-left: 10px;
    padding-top: 60px;
}

body {
    padding: 10px;
}

.video-section {
    max-width: 900px;
    text-align: center;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    border-radius: 15px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}