body {
        background: black;
        overflow: hidden;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
}

#galaxy {
        top: 80px;
        left: 0;
        width: 100%;
        height: 100%;
        padding-top: 50px;
}